{% extends "panelDelegado.html" %}
{% load i18n %}

{% block css %} <link rel="stylesheet" href="../../static/css/panelDelegado.css"> {% endblock %}
{% block body %}  fondoTab1 {% endblock %}
{% block class1 %}  active {% endblock %}
{% block contenido %}

<article id="Tab1"> 
    
    <div class="container">
        <div class="row" id="actual" >
          <div class="col-lg-5 col-md-12 col-12" id="izq">
            <div class="about-img text-center">
              <img src="/{{equipo.id_torneo.logo}}" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-7 col-md-12 col-12 ps-lg-5 mt-md-5">
            <div class="about-text">
              <h2 style=" text-transform: uppercase; font-weight:bolder">
               {{equipo.id_torneo.nombre_torneo}}
              </h2><br>
              <p>
                Evento de carácter internacional, que hasta el momento ha manifestado interés por participar equipos
                provenientes
                no sólo de Bolivia, sino de también Argentina y otros países de Sud América.<br>
                Ofrece distintas categorías en las ramas masculinas y femeninas, también separadas por edades<br><br>
                
                Organizado por: <b style=" text-transform: uppercase;">{{equipo.id_torneo.id_organizador.nombre_organizador}} </b> <br>
                En el país de: <b style=" text-transform: uppercase;">{{equipo.id_torneo.pais_torneo}} </b> <br>
                {% language 'es' %}
                       
                Dará inicio el <b style=" text-transform: uppercase;">{{equipo.id_torneo.fecha_torneo_inicio}} </b> y terminará el: <b style=" text-transform: uppercase;">{{equipo.id_torneo.fecha_torneo_fin}} </b><br>
            {% endlanguage %}
                Mas detalles en:  <b><a target="_blank"  id="conv" href="/{{equipo.id_torneo.invitacion_documento}}" >Convocatoria Publica</a></b>
              
                <br>
                
               </p>
            
              <p> Para cualquier duda o consulta comunicarse al correo electrónico <b>{{equipo.id_torneo.id_organizador.correo_organizador}}</b> o al número <b>{{equipo.id_torneo.id_organizador.telefono_organizador}}</b>.
              </p>
              <br>
              <div class="text-center">
                <a href="{% url 'Torneo' equipo.id_torneo.id %}" class="btn btn-primary" id="btn-ir">Ir al Torneo</a>
              </div>
              <br>
            </div>
          </div>
        </div>    
      </div>

</article>
  

{% endblock %}


{% block js %} <script type="text/javascript" src="../../static/Js/menuDelegado.js"></script> {% endblock %}