
{% extends "panelAdmin.html" %}

<link rel="stylesheet" href="{% static 'css/panelAdmin.css' %}">
{% block body %}  fondoTab1 {% endblock %}
{% block class %}  active {% endblock %}

{% block contenido %}

<article class="box" id="Tab1">
    <div class="card">
      <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_torneo' %}" role="button">Crear Torneo</a>
      </div>
      <div class="card-body table-responsive">
        <h4 class="card-title">Torneos en Progreso</h4>
        <div class="">
          <table class="table">
            <thead>
              <tr id="cabeza">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Organizador</th>
                <th scope="col">Contacto</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for torneo in torneos %}
              <tr class="">
                <td scope="row">{{torneo.id}}</td>
                <td>{{torneo.nombre_torneo}}</td>
                <td>{{torneo.id_organizador.nombre_organizador}}</td>
                <td>{{torneo.id_organizador.telefono_organizador}}</td>
                <td>{{torneo.fecha_torneo_inicio}}</td>
                {% if torneo.torneo_estado == 1 %}
                <td>En Proceso</td>
                {% else %}
                <td>Terminado</td>
                {% endif %}
                <td>
                  <div class="dropdown">
                    <button class="btn btn-success border bg-gradient btn-sm rounded-0 dropdown-toggle" type="button" id="employeeDD{{employee.pk}}" data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="employeeDD{{torneo.pk}}">
                        <li>
                          <a name="" id="btn-ver" class="btn btn-info" href="{% url 'Torneo' torneo.id %}" role="button"><span
                            class="text-white"><i class="fa fa-sign-in"></i> Entrar</span></a>
                        </li>
                        <li>
                          <a name="" id="btn-editar" class="btn btn-warning" href="{% url 'editar_torneo' torneo.id %}" role="button"><span
                            class="text-white"><i class="fa fa-edit"></i> Editar</span></a>
                        </li>
                       
                        <li>
                          <a name="" id="btn-editar" class="btn btn-danger" href="{% url 'bajaTorneo' torneo.id %}" role="button"><span
                            class="text-white"><i class="fa fa-down-long"></i> Dar de Baja</span></a>
                        </li>
                        
                        
                    </ul>
                </div>
                
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </article>

{% endblock %}


{% block js %} <script type="text/javascript" src="{% static 'Js/menuAdmin.js' %}"></script> {% endblock %}