
{% extends "panelDelegado.html" %}

{% block css %}
<link rel="stylesheet" href="../../static/css/panelDelegado.css"> {% endblock %}
{% block body %} fondoTab2 {% endblock %}
{% block class2 %} active {% endblock %}
{% block contenido %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for m in messages %}
<script>
    if ('{{m}}' == "Algo salio mal, intente nuevamente")
        Swal.fire('{{m}}', '', 'error');
    else if ('{{m}}' == "Inscriba a su equipo primeramente") {
        Swal.fire('{{m}}', '', 'error');
    }
    else {
        Swal.fire('{{m}}', '', 'success');
    }
</script>
{% endfor %}
{% endif %}
<article id="Tab2">
    {% if equipo.estado_inscripcion_equipo != 'PENDIENTE' %}
    <form class="needs-validation" id="formulario" name="formulario" method="POST" enctype="multipart/form-data"
        novalidate>
        {% csrf_token %}
        <label for="portadaInput" id="" class=""> Su estado de inscripción es:
            {{equipo.estado_inscripcion_equipo}}</label>
        <section id="secBtn">
            <button type="button" id="btn-infor" class="btn btn-primary">Modificar Información</button>
            <button type="button" id="btn-cancelar" onclick="location.reload()"
                class="btn guardar btn-danger">Cancelar</button>
            <button type="submit" id="btn-guardar" class="btn guardar btn-success">Guardar</button>
        </section>

        <section id="secPortada">
            <div class="portada text-center">
                <label for="portadaInput" id="portadaLabel" class="btn guardar"></label>
                <input type="file" class="form-control guardar" onchange="cambiarPortada()" name="portada_equipo"
                    style="visibility:hidden;" id="portadaInput" placeholder="" aria-describedby="fileHelpId" disabled>

                <img id="img-portada" src="/{{equipo.portada_equipo}}" alt="">

            </div>
            <div class="escudo ">
                <label for="inputFile" id="labelFile" class="btn guardar"></label>
                <input type="file" class="form-control guardar" onchange="cambiarEscudo()" name="escudo_equipo"
                    style="visibility:hidden;" id="inputFile" placeholder="" aria-describedby="fileHelpId" disabled>
                <img id="img-escudo" src="/{{equipo.escudo_equipo}}" alt="">
            </div>
        </section>
        <br><br>
        <hr>
        <section id="secInfor">
            <input type="text" class="primer form-control" onchange="validarNombre('{{equiposTodos}}')"
                name="nombre_equipo" id="title" placeholder="NOMBRE DEL EQUIPO" minlength="5" maxlength="50"
                value="{{equipo.nombre_equipo}}" disabled required>
            <div class="" id="inforDoble">
                <input type="text" class="form-control" name="pais_origen" id="input"
                    pattern="^(?!\s)[a-zA-ZÁáÉéÍíÓóÚú\s]{4,50}" placeholder="PAIS DEL EQUIPO"
                    value="{{equipo.pais_origen}}" disabled required>
                <input type="text" class="form-control" name="ciudad_origen" id="input"
                    pattern="^(?!\s)[a-zA-ZÁáÉéÍíÓóÚú\s]{4,50}" placeholder="CIUDAD DEL EQUIPO"
                    value="{{equipo.ciudad_origen}}" disabled required>
            </div>

            <div class="position-relative" id="inforDoble">
                <input type="text" class="nombreTorneo form-control" id="input" placeholder="TORNEO DEL EQUIPO"
                    value="{{equipo.id_torneo.nombre_torneo}}" onfocus="this.blur()" required>
                <input type="text" class="nombreTorneo form-control" id="input" placeholder="CATEGORIA DEL EQUIPO"
                    value="{{equipo.categoria_equipo}}" onfocus="this.blur()"  required>
                
            </div>

        </section>
    </form>
    <hr>
    <section id="secEntrenador">
        <label name="monto_inscripcion" id="titleEntre" class="primer">ENTRENADOR </label>
        <div class="position-relative" id="inforDoble2">
            <label class="labelEntre" id="input">{{equipo.id_entrenador_equipo.nombre_entrenador}} </label>
            <a href="{% url 'registrarEntrenador' equipo.id %}" type="button" id="btn-coach"
                class="btn entre btn-outline-success"><i class="fa fa-plus"></i></a>
        </div>
    </section>

    <hr>
    <section id="secEquipo">
        <div class="position-relative" id="inforDoble2">
            <label class="labelEquip" id="input">Jugadores Registrados </label>
            <a href="{% url 'registrarJugador' equipo.id %}" type="button" id="btn-jug"
                class="btn entre btn-outline-success"><i class="fa fa-plus"></i></a>
        </div>

        <div class="listaJugadores row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped
   table-hover	
   table-borderless
   table-primary
   align-middle" id="tablaJugadores">
                        <thead class="table-primary" name="lista_jugadores">
                            <tr class="table-dark">
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>DORSAL</th>
                                <th>POSICIÓN</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for jug in jugadores %}
                            <tr class="">
                                <td>{{jug.id}}</td>
                                <td>{{jug.nombre_jugador}} </td>
                                <td>{{jug.dorsal_jugador}}</td>
                                <td>{{jug.posicion_jugador}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <section class="row">
        <div class="col-6 text-center d-flex align-items-center">
            <p>¡NO TIENE UN EQUIPO INSCRITO!</p>
        </div>
        <div class="col-6 text-center d-flex align-items-center"><a type="button"
                href="{% url 'inscripcion' equipo.id %}" id="btn-danger" class="btn btn-danger">Inscribir</a></div>


    </section>
    {% endif %}
</article>
{% endblock %}


{% block js %}
<script type="text/javascript" src="../../static/Js/menuDelegado.js"></script> {% endblock %}