
{% load qr_code %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
    
    .id-card {
        width: 3in;
        height: 53vh;
        border: 2px solid var(--bs-dark);
        padding: 2rem 1.5rem;
    }
    
    #card-qr,
    #card-avatar {
        width: 8rem;
        height: 8rem;
    }
</style>
<link rel="stylesheet" href="{% static 'css/credenciales.css' %}">
<div class="container-fluid" id="id-card">
    <div class="d-flex mb-3" id="pos">
        <div class="px-2">
            <div class="id-card">
                <div class="d-flex w-100 justify-content-center my-2">
                    <img src="{% if jugador.foto_jugador %}{{jugador.foto_jugador.url}}{% endif %}" id="card-avatar" class="img-thumbnail" alt="">
                </div>
                <div class="lh-1">
                    <div class="text-center fw-bold">{{ jugador.nombre_jugador }}</div>
                    {% comment %} <div class="text-center fw-light text-sm"></div> {% endcomment %}
                    <div class="text-center fw-light text-sm">{{ jugador.posicion_jugador }}</div>
                </div>
                <div class="lh-1 text-center">
                    <!--<img src="{% qr_url_from_text jugador.ci_jugador size=3 version=1 image_format='png' %}" id="card-qr" alt="">-->
                    <!--<img src="{% qr_for_mecard mecard=info_jugador size='S' %}" id="card-qr" alt="">-->
                    {% qr_for_mecard mecard=info_jugador size='T' %}
                    <div class="text-center"><b>{{jugador.ci_jugador}}</b></div>
                </div>
            </div>
        </div>
        <div class="px-2">
            <div class="id-card">
                <div class="lh-1">
                    <dl>
                        <dt>CI</dt>
                        <dd>{{jugador.ci_jugador}}</dd>
                        <dt>Apodo</dt>
                        <dd>{{jugador.apodo_jugador}}</dd>
                        <dt>Posicion/ocupacion</dt>
                        <dd>{{jugador.posicion_jugador}}</dd>
                        <dt>Dorsal</dt>
                        <dd>{{jugador.dorsal_jugador}}</dd>
                        <dt>Fecha nacimiento</dt>
                        <dd>{{jugador.nacimiento_jugador|date:'M d, Y'}}</dd>
                        <dt>Contacto</dt>
                        <dd>{{jugador.telefono_jugador}}</dd>
                        {% comment %} <dt>Email</dt> {% endcomment %}
                        {% comment %} <dd>{{jugador.posicion_jugador}}</dd> {% endcomment %}
                        {% comment %} <dt>Address</dt> {% endcomment %}
                        {% comment %} <dd><small>{{jugador.dorsal_jugador}}</small></dd> {% endcomment %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<noscript id="qr-style">
<style>
    * {
        font-size: 12px;
    }
    * small {
        font-size: 10px;
    }
    .id-card {
        width: 2.11in;
        height: 3.38in;
        border: 2px solid var(--bs-dark);
        padding: 2rem 1.5rem;
        border-radius: 5px;
    }
    #card-avatar {
        width: 1in;
        height: 1in;
    }
    #card-qr {
        width: .7in;
        height: .7in;
    }
</style>
</noscript>
<script>
    $(function() {

    })
</script>