
html { background-color: #000; } 
body {
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: papayawhip; 
    margin: 0 auto;
    font-family:'Montserrat', sans-serif;
}
header{
    position: sticky !important;
    top:0;
}

.navbar-custom {
    background-color: #003975;
}

.navbar-brand{
    color: white !important;
}

#side_nav{
    position: fixed;
    top: 58px;
    left: 0;
    background: #003975b4;
    width: 300px;
    max-width: 300px;
    height: 100%;
}
.active{
    background-color: #0d77e8;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.tabs{
    padding: 0px !important;
    margin: 0px;
}
.header-box{
    padding: 16px 0px 24px !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
}

.item{
    padding: 16px;
}

.burger{
    margin-left: 8px;
    cursor: pointer;
}


.title-sidebar{
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-unstyled{
    font-size: 20px;
}

.item{
    padding: 16;
}

.menu-expanded{
    transition: all 1000ms ease;
    width: 350px !important;
}

.menu-collapsed{
    transition: all 500ms ease;
    width: 55px !important;
}

.menu-collapsed .header-box .tabs .item span, .menu-collapsed .header-box .title-sidebar span{
    display: none;
}

header, #side_nav{
    z-index: 50;
}

/*DISEÑO  CONTENEDOR*/
body{
    /*min-height: 92vh;
    height: 100%;*/
    background: linear-gradient(rgba(237, 28, 36, .5), rgba(237, 28, 36, .5)),url('../images/basquetbolrecorte.jpg') !important; 
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: top !important;
    background-attachment: fixed !important;
}

@media only screen and (max-width:600px) {
    #Titulo, #usuario{
        font-size: 15px !important;
    }
    .menu-collapsed, .menu-expanded{
        top:55px !important;
        transition: all 250ms ease !important;
    }
    .menu-collapsed{
       
        width: 0px !important;
    }
}

@media only screen and (max-width:475px) {
    #Titulo, #usuario{
        font-size: 10px !important;
    }
}